body {
	margin: 0;
	background-color: whitesmoke;
	font-family: 'Work Sans', sans-serif;
	font-weight: 1000;
}

footer {
 position: fixed;
 bottom:0%;
 float: left;
 text-align: center;
 background-color: papayawhip;
 padding: 0;
 width: 100%;
 height: 5%;	


 
 


}

@media screen {
	body {
	  width: 100%;
	}
  }
  
  @media print {
	body {
	  width: 75%;
	}
  }



